@import "tailwindcss";

@theme {
  --color-primary: #E31E24;
  --color-secondary: #004A99;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #0f172a; /* slate-900 */
    background-color: #ffffff;
  }
}
